- logo = "assests/logo-spec.png"
- icon_message = "assests/icon-message.png"

!!! 5
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "assests/main" }
    %link{:rel => "stylesheet", :type => "text/css", :href => "send_contact_form_to_brand" }
  %body
    .container
      .header
        %img.logo{:src => logo, :data => "logo"}
      %section{:class => "message-container"}
        %img.message-icon{:src => icon_message, :data => 'icon message'}
        .title Tienes un mensaje de un cliente
        .subtitle Responde lo más pronto posible, estos son los datos del cliente
        .client-message-container
          .client-message-label Este es el mensaje del cliente:
          .client-message-content
            .client-message-text
    .footer
      .contact-items
        .contact-item
          %img.contact-icon
          .contact-text contacto@specatelier.com
        .contact-item
          %img.contact-icon
          .contact-text +56 9 8765 4321
        .contact-item
          .contact-text Siguenos en
          %img.contact-icon
