:root {
  --color-black: rgb(33, 33, 33);
  --color-grey: #f6f6f6;
  --color-tertiary: #08262c;
}

.header {
  width: 100%;
  padding: 2px 0;
}

.logo {
  width: 134px;
  height: 24px;
  object-fit: contain;
}

.container {
  min-height: 700px;
  padding: 70px 12%;
  background-color: white;
}

.footer {
  height: 72px;
  width: 100%;
  background-color: var(--color-tertiary);
}

.contact-text {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 2px 8px;
}

.contanct-icon {
  width: 20px;
  height: 15px;
  margin: 2px 8px;
}

.contact-item {
  display: flex;
}

.contact-items {
  display: flex;
}


